<div class="container-fluid primary-content">
    <br />
    <div class="widget">
        <div class="widget-header clearfix">
            <h3><span>Contact Info</span></h3>
        </div>
        <div class="widget-content">
            <ul class="list-unstyled">
                <li>Alexander Schechter</li>
                <li>+44 7932 077550</li>
                <li><a href="mailto:a.schechter@outlook.com?Subject=Contact" target="_top">a.schechter@outlook.com</a></li>
                <li><a href="https://alexschechter.azurewebsites.net" target="_blank">Personal Website</a></li>
                <li><a href="https://uk.linkedin.com/in/alexander-schechter-b28150" target="_blank">LinkedIn</a></li>
            </ul>
        </div>
    </div>
</div>
