@using Budgeter.Models
@model HomeViewModel

<!-- PRIMARY CONTENT HEADING -->    
<div class="primary-content-heading clearfix">         
    <h2>DASHBOARD</h2>

</div>
<!-- END PRIMARY CONTENT HEADING -->
<div class="widget widget-no-header widget-transparent bottom-30px">
    <div id="container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
    <table id="datatable" hidden>
        <thead>
            <tr>
                <th></th>
                <th>Amount Budgeted</th>
                <th>Amount Spent</th>
            </tr>
        </thead>
        <tbody>
            @foreach(ChartItem item in Model.ChartData)
            {
                <tr>
                    <th>@item.CategoryName</th> 
                    <td>@item.AmountBudgeted</td>
                    <td>@item.AmountSpent</td>
                </tr>                   
            }             
        </tbody>
    </table>  
    <!-- QUICK SUMMARY INFO -->
    <div class="widget-content">
           
    </div>
    <!-- END QUICK SUMMARY INFO -->
</div>
<div class="row">
    <div class="col-sm-8">
            
    </div>
    <div class="col-sm-4">
                         
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
            
    </div>
    <div class="col-sm-4">
            
    </div>
</div>
<div class="row">
    <div class="col-sm-4">
            
    </div>
    <div class="col-sm-4">
            
    </div>
    <div class="col-sm-4">
            
    </div>
</div>
<div class="right-sidebar">
   
</div>


 
