/*Home page*/

#changeMonth
{
    position: absolute;
    right: 22px;
    margin-top: 10px;
}

#currentMonth
{
    background-color:#e9e9e9; 
    color: white;
}

.switch-button
{
    width: 200px !important;
}

/*Transactions*/
#backToAccounts
{
    position: absolute;
    right: 15px;
}
#transactionsButtons
{
    margin-bottom: 20px;
}
/*Change Household page*/
#changeHousehold
{
    margin-bottom: 12px;
}

#newHousehold
{
    margin: 12px;
}

/* NonAuthenticatedLayout page */
#site-logo 
{
    display: block;
    height: 34px !important;
    margin: 6px auto;
}

#site-logo > img
{
    width: 220px;
    height: auto;
}

/* UserProfile page */
.avatar 
{
    width: 130px;
    height: auto;
    padding: 18px;
    background: #ffffff;
}

.profile-header-background 
{
    border-bottom: solid 2px grey;
}

.user-profile > .row > .col-sm-12 
{
    height: 100px;
}

.partial-form 
{
    width: 500px;
    margin: auto;
}

.partial-form .btn-block 
{
    margin-top: 20px;
}

.partial-form .btn-block.budgets
{
    margin-top: 5px;
}

.profile-info-left .action-buttons
{
    margin-top: 10px;
}

/* Accounts page*/
.create-account-form {
    width: 50%;
    margin: 10px 0 40px 20px;
    min-width: 142px;
}

.budgeter-form 
{
    margin-top: 75px;
}

.budgeter-form h3 
{
    text-align: center;
}

/* Categories*/

.btn.btn-primary.btn-md.btn-category
{
    width: 170px;
    margin-bottom: 12px;
    margin-top: 12px;
}

/*Transactions*/

#Reconciled
{
    position: relative;
}
.checkbox.checkbox-form
{
    display: inline;
    margin-left: 24px;
}

/*Generic*/

.btn-xs, .btn-md
{
    width: 86px;
}

.btn-xs.budgetItem
{
    width: auto;
}

.lead
{
    margin: 30px 0;
}

#col-right 
{
    padding-left: 0;
}

@media(max-width: 850px) 
{
    .create-account-form .input-group 
    {
        display: block;
    }

    .create-account-form .form-control
    {
        margin-bottom: 10px;
    }
}

@media(max-width: 650px) 
{
    .partial-form 
    {
        width: auto;
    }
}