@using Budgeter.Models
@model Household

<div class="h2 text-danger">Do you really want to leave @Model.Name?</div>
@using (Html.BeginForm("JoinHousehold", "Manage", new { householdId = Model.Id}, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
@Html.HiddenFor(m => m.Id)
<input type="submit" name="submitButton" value="Send" />
<input type="submit" name="submitButton" value="Cancel" />
}
